<div class="membrete">
    <h2 style="text-align: center;">Maqueta - Aplicación web Texur</h2>  
    <i (click)="logout()" class="fa fa-sign-out" aria-hidden="true"></i>
</div>
<div class="cuerpo">
    <div class="panelIzq menu" style="background-color: lightgrey;">
        <h2>Carlos Perez</h2>
        <div class="imagen">
            <img src="../../../assets/user.png">
        </div>
        <div>
            <ul>
                <li (click)="cambio('perfilDistribuidor'); seleccionar('perfilDistribuidor')"
                    [class.active]="selected === 'perfilDistribuidor'">Perfil</li>
                <li (click)="cambio('gestionCliente'); seleccionar('gestionCliente')"
                    [class.active]="selected === 'gestionCliente'">Gestion de Clientes</li>
                <li (click)="cambio('postVenta'); seleccionar('postVenta')" [class.active]="selected === 'postVenta'">
                    Post Venta</li>
                <li (click)="cambio('eLearning'); seleccionar('eLearning')" [class.active]="selected === 'eLearning'">
                    E-Learning</li>
                <li (click)="cambio('marketing'); seleccionar('marketing')" [class.active]="selected === 'marketing'">
                    Marketing</li>
                <li (click)="cambio('compras'); seleccionar('compras')" [class.active]="selected === 'compras'">Compras
                </li>
                <li (click)="cambio('ventas'); seleccionar('ventas')" [class.active]="selected === 'ventas'">Ventas</li>
                <li (click)="cambio('analisisdeDatos'); seleccionar('analisisdeDatos')"
                    [class.active]="selected === 'analisisdeDatos'">Análisis de Datos </li>
                <li (click)="cambio('suscripciones'); seleccionar('suscripciones')"
                    [class.active]="selected === 'suscripciones'">Suscripciones </li>
            </ul>
        </div>
    </div>
    <div class="panelDer" style="background-color:grey;">
        <div *ngIf="perfilDistribuidor" class="perfil">
            <h2>Perfil del Distribuidor</h2>
            <div class="login">
                <div class="imagen">
                    <img src="../../../assets/user.png">
                </div>
                <div class="formulario">
                    <form class="form">
                        <label>Username</label>
                        <input type="text" placeholder="Ingrese su usuario"><br>
                        <label>Password</label>
                        <input type="password" placeholder="Ingrese su clave"><br>
                        <label>CUIT</label>
                        <input type="text" placeholder="Ingrese su CUIT"><br>
                        <label>Razon Social</label>
                        <input type="text" placeholder="Ingrese su Razon Social"><br>
                        <label>CUIT Distribuidor</label>
                        <input type="text" placeholder="CUIT"><br>
                        <button (click)="actualizar()">ACTUALIZAR</button>
                    </form>
                </div>
            </div>
        </div>
        <div *ngIf="gestioncliente" class="container gestioncliente">
            <div>
                <h2 style="text-align: center;">
                    Clientes disponibles del distribuidor
                </h2>
                <div class="input-container table">
                    <input class="table" type="text" placeholder="Ingrese el usuario a buscar">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>

                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="background-color:  #905868;" scope="col">Apellido</th>
                                <th style="background-color:  #905868;" scope="col">Nombre</th>
                                <th style="background-color:  #905868;" scope="col">Teléfono</th>
                                <th style="background-color:  #905868;" scope="col">CUIT</th>
                                <th style="background-color:  #905868;" scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let clientes of arrayClientes">
                                <td>{{clientes.apellido}}</td>
                                <td>{{clientes.nombre}}</td>
                                <td>{{clientes.telefono}}</td>
                                <td>{{clientes.cuit}}</td>
                                <td style="cursor: pointer;"><i (click)="mostrarDetalle()" class="fa fa-info-circle"
                                        aria-hidden="true"></i>
                                    <i (click)="borrarCliente()" class="fa fa-trash-o" aria-hidden="true"></i>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div *ngIf="detallesDistribuidor" class="detalleDistribuidor">
                <div class="detalleDistribuidorI">
                    <h2>Ficha del Cliente</h2>
                    <div class="login">
                        <div class="imagen">
                            <img src="../../../assets/user.png">
                        </div>
                        <div class="formulario">
                            <form class="form">
                                <label>Apellido</label>
                                <input type="text" placeholder="Apellido Cliente"><br>
                                <label>Nombre</label>
                                <input type="text" placeholder="Nombre Cliente"><br>
                                <label>CUIT</label>
                                <input type="text" placeholder="CUIT Cliente"><br>
                                <label>Razon Social</label>
                                <input type="text" placeholder="Razón Social Cliente"><br>
                                <label>Celular</label>
                                <input type="text" placeholder="Nro Celular Cliente"><br>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="detalleDistribuidorD">
                    <div>
                        <h2>Analisis de "nombre cliente"</h2>
                        <div class="">
                            <img src="../../../assets/datos cliente.jpg">
                        </div>
                    </div>
                    <div class="prodAdquiridos">
                        <h2>Productos adquiridos por el cliente</h2>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="background-color:  #905868;" scope="col">Fecha adquirido</th>
                                    <th style="background-color:  #905868;" scope="col">Producto</th>
                                    <th style="background-color:  #905868;" scope="col">Garantía activa</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let producto of prodAdquiridos">
                                    <td>{{producto.fecha}}</td>
                                    <td>{{producto.producto}}</td>
                                    <td>{{producto.garantia}}</td>
                                </tr>
    
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="postVenta" class="mensajero">
            <H1>Post Venta</H1>
        </div>
        <div *ngIf="eLearning" class="container eLearning">
            <h2 style="text-align: center;">
                Cursos Disponibles
            </h2>
            <div class="input-container table">
                <input class="table" type="text" placeholder="Ingrese el curso a buscar">
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th style="background-color:  #905868;" scope="col">Nombre Curso</th>
                            <th style="background-color:  #905868;" scope="col">Tipo Curso</th>
                            <th style="background-color:  #905868;" scope="col">Duración</th>
                            <th style="background-color:  #905868;" scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cursos of arrayCursos">
                            <td>{{cursos.nombrecurso}}</td>
                            <td><img src="{{cursos.tipo}}"></td>
                            <td>{{cursos.duracion}}</td>
                            <td style="cursor: pointer;"><i class="fa fa-info-circle" aria-hidden="true"></i>
                                <i (click)="borrarCurso()" class="fa fa-trash-o" aria-hidden="true"></i>
                                <i (click)="asignarcurso()" class="fa fa-share-alt" aria-hidden="true"></i>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <h2 style="text-align: center;">
                Cargar Curso
            </h2>
            <br>
            <div style="border-radius: 1rem;
            box-shadow: 0 0 10px rgb(0, 0, 0,0.75);">
                <div class="formulario">
                    <form class="form">
                        <label>Curso</label>
                        <input type="text" placeholder="Nombre Curso"><br>
                        <label>Tipo</label>
                        <input type="text" placeholder="Tipo Cursp"><br>
                        <label>Duración</label>
                        <input type="text" placeholder="Duración curso"><br>
                        <label>Cargar Archivo</label>
                        <div class="input-container">
                            <input type="text" placeholder="Cargar Archivo"><br>
                            <i class="fa fa-upload " aria-hidden="true"></i>
                        </div>
                    </form>
                </div>
                <div style="display: flex;
            flex-direction: column;
            align-items: center; padding-bottom: 1%;">
                    <button>SUBIR CURSO</button>
                </div>

            </div>
        </div>
        <div *ngIf="compartirCurso" class="container">
            <h2 style="text-align: center;">
                Asignar Curso
            </h2>
            <br>
            <div style="border-radius: 1rem;
            box-shadow: 0 0 10px rgb(0, 0, 0,0.75);">
                <div class="formulario">
                    <form class="form">
                        <label>Curso</label>
                        <input type="text" placeholder="Nombre Curso"><br>
                        <div class="custom-select">
                            
                            <div class="options-container">
                                <label class="option">
                                    <input type="checkbox"> Cliente 1
                                </label>
                                <label class="option">
                                    <input type="checkbox"> Cliente 2
                                </label>
                                <label class="option">
                                    <input type="checkbox"> Cliente 3
                                </label>
                                <label class="option">
                                    <input type="checkbox"> Cliente 4
                                </label>
                            </div>
                        </div>
                            <div style="display: flex;
                        flex-direction: column;
                        align-items: center; padding-bottom: 1%;">
                                <button (click)="cursoAsignado()">ASIGNAR CURSO</button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
        <div *ngIf="marketing" class="mensajero">
            <H1>Marketing</H1>
        </div>
        <div *ngIf="compras" class="elearning">
            <h1>Compras</h1>
        </div>
        <div *ngIf="ventas" class="mensajero">
            <H1>Ventas</H1>
        </div>
        <div *ngIf="analisisDatos" class="elearning">
            <h1>Analísis de Datos</h1>
        </div>
        <div *ngIf="suscripciones" class="mensajero">
            <H1>Suscripciones</H1>
        </div>

    </div>
</div>   
<div class="footer">
    <h4>Desarrollado por <span>EsteroTech</span></h4>
</div>