<app-membrete></app-membrete>

<div class="row">
    <div class="col-2 menu" style="background-color: lightgrey;">
        <div class="imagen">

        </div>
        <div>
            <ul>
                <li>Perfil</li>
                <li>Compras</li>
                <li>Post Venta</li>
                <li>E-learning</li>
                <li>Mensajero</li>
            </ul>
        </div>
    </div>
    <div class="col-10" style="background-color:grey;">
        Cuerpo de Benito
    </div>
</div>

<app-footer></app-footer>

